:root
{
    --primary-color: #1c1c1c;
    --secondary-color: #daddd8;
    --third-color: #ecebe4;
    --text-color: #fafaff;
    --text-color-secondary: #eef0f2;
}

.mainHeader 
{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80%;
    padding: 0px;
    position:absolute;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius: 60% 20%;
    border-bottom-right-radius: 60% 20%;
}

.mainHeader h1
{
    color: var(--text-color);
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 360px;
}

.mainHeader h3
{
    color: var(--text-color-secondary);
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    padding: 0px;
    margin: 0 auto;
}